/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// fonts
$base-font-size: 15;
$base-font: "Montserrat", sans-serif;
$heading-font: "Montserrat", sans-serif;



// color
$dark-gray: #171717; //
$body-color: #E9E9E9;
$white: #fff;
$light: #DDDDDD; //
$black: #000;
$small-black: #333;
$cyan: #F9F9F9; //

$theme-primary-color: #F14F0E; //
$body-bg-color: #fff;
$section-bg-color: #F1E2CC; //
$text-color: #7F7F8A; //
$text-light-color: #6F6F6F; //
$heading-color: $white;
$border-color: #F0F0F0; //
$border-color-s2: #F1E2CC; //